* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color:#fff;
    
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

li {
    
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

a {
    display: flex;
}


.link-menu:hover {
    color: black;
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color: #ccc;
    

}

.trafalgar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    width: 100%;
    margin-top: 50px;
    flex: 1;
}
.area_titulo{
    font-size: 25px;
    font-weight: 400;
    max-width: 500px;

}

.area_texto{
    font-size: 15;
    font-weight: 400;
    margin-top: 20px;
}

.btn_area button{
    margin-top: 15px;
    border-radius: 12px;
    background: none;
    border: 1px solid blue;
    cursor: pointer;
    width: 100px;
    

    &:hover{
        background-color: blue;
        color: #ffff;
    }
}

.area_direita{
    margin-left: auto;
    
    height:auto;
    width: 55%;
    margin-right:35px;
} 

.area_serviços{
color: black;
margin-top: 150px;
align-items: center;
text-align: center;
font-size: 25px;
}


.Remedios{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    cursor: pointer;
}
.card_remedio{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:row;
    justify-content: center;
    
}
.card{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color:#fff;
    margin-right: 20px;
    border-radius: 12px;
    box-shadow: 5px 6px 4px 0px #ccc;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card_titulo span{
    font-size: 20px;
    font-weight: bold;
}

.card_texto p {
    font-size: 14;
    font-weight: 400;
}

.card_img img{
    width: 50px;
}
.Cadastro {
    display: flex;
    padding-top: 50px;
	width: 100%;
    background-color: #5e7cd4;
    height: 350px;
    justify-content: center;
}

input{
    height: 40px;
    border-radius: 12px;
    width: 400px;
    border:none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_div{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
	
}
.input_control{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
   
}

form button{
    margin-top: 15px;
    border-radius: 12px;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
    width: 115px;
    height: 35px;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: blue;
    }
}

.Palavras h1{
    margin-right: 100px;
    color: #ccc;
    text-align: right;
    margin-top: 100px;
}

.Palavras p{
    margin-right: 100px;
    color: #ccc;
    text-align: right;
    margin-top: 40px;
}

.Palavras button{
    
    float: right;
    color: blue;
    margin-top: 25px;
    margin-right: 300px;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
    height: 35px;
    border: 1px solid blue;
    background: none;

    &:hover{
        background-color: blue;
        color: #ffff;
    }
}
div img{
    margin-top: -200px;
}

.footer_titulo{
    display: flex;
    padding-top: 50px;
	width: 100%;
    background-color: #96aef7;
    height: 350px;
    color: #fff;
    
}

.footer_titulo h1{
    font-size: 20px;
    margin-left: 100px;
}

.footer_texto{
    color: white;
    margin-top: -270px;
    margin-left: 100px;

}

.texto_company{
    display: flex;
    padding-top: 150px;
    justify-content: center;
    margin-top: -157px;
    margin-left: 75px;

}

.footer_company h1{
    font-size: 15px;
    margin-left: 900px;
    color: green;
    
}

.footer_Region{
    display: flex;
    margin-top: -130px;
    color: orangered;
    margin-left: 800px;


}

.footer_Region h1{
    font-size: 15px;
    
    
    
}

.footer_Help{
    display: flex;
    margin-top: -142px;
    color: #fff;
    margin-left: 1000px;
}

.footer_Help h1{
    font-size: 15px;
}

.texto_company p{
   text-align: center;
   margin-right: 100px;
   margin-top: 15px;
   font-size: 15px;
   color: #fff;

}

.texto_Region p{
    display: flex;
    margin-top: 20px;
    color: #fff;
    margin-left: 800px;


}

.texto_help p {
    display: flex;
    margin-top: 20px;
    color: #fff;
    margin-left: 1000px;

}

    




    
    





  









